.DS_Store
.snakemake
.Rhistory
__pycache__
*.bam
*.txt
*.ht2
*.log
*.fastq.gz
*.sublime-*
processed
output
fastqc
logs
nohup.out
bed
multiqc_data
multiqc_report.html
tdf
Snakefile_fordag
._.DS_Store
._README.md
._cluster.json
._config.yaml
._environment.yaml
._run_snakemake.sh
._Snakefile
ngs_helper/._generate_counts_matrix.py
